#menu li {
  display: inline;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 10px;
  padding-right: 10px;
  border-right: solid;
  border-color: hotpink;
}

#menu li:last-child {
  border-right: none;
}

#heading h1 {
  font-size: 65px;
  color: white;
  text-align: center;
  font-family: Garamond;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}

#heading {
  background-color: hotpink;
  height: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

#heading img {
  height: 150px;
  width: auto;
}

#menu {
  text-align: center;
  background-color: black;
  margin-left: 110px;
  margin-right: 110px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

body {
  background-color: ivory;
}

a {
  text-decoration: none;
  color: ivory;
}

div+div {
  margin-top: 20px;
}

#sabrina {
  margin-left: 110px;
  margin-right: 110px;
}

#sabrina h2 {
  font-family: Garamond;
  font-size: 50px;
}

footer {
  background-color: black;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: 60px;
  text-align: left;
  font-family: Garamond;
}

th {
  font-weight: bolder;
  font-size: 25px;
  color: hotpink;
}

td{
  font-weight: lighter;
  font-size:25px;
}
.fab{
  font-size:30px;
}

#services {
  text-align: center;
}
#services h1 {
  font-size: 80px;
  font-weight: bolder;
}

#services h2 {
  font-size: 35px;
  font-weight: bold;
}

#services h3 {
  font-size: 15px;
  font-family: ;
  font-style: italic;
}

iframe {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 700px;
}






































